nav{ position:relative; margin: 0px -14px 0 0;float: right;}
.sf-menu ul {position:absolute;top:-999px; display:none;/* left offset of submenus need to match (see below) */}
.sf-menu ul li {width:100%}
.sf-menu li {float:left;position:relative}

.sf-menu>li>a{display:block;position:relative; font-size: 22px; font-weight: 800; line-height: 28px; color:#4e4e4e;padding: 20px 12px 22px;border-radius: 3px;background: url('../images/spacer.gif') repeat;}
.sf-menu>li>a:hover,.sf-menu>li.current>a{background-color: #ff4800;color: #fff;}
.sf-menu>li:hover,.sf-menu>li.current,.sf-menu>li.sfHover{}

.sf-menu>li{margin-left: 2px;}
.sf-menu a{}


#menu-icon{display: none;}
/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 995px) {
	
}

@media only screen and (max-width: 767px) {
   #menu-icon{display: block;background:url("../images/menu-icon.png") center -27px no-repeat #ff4800;width: 60px;height: 40px;font-size: 22px; line-height: 28px;position: absolute;top: 15px;right: 0px;cursor: pointer;border-radius: 3px;}
   #menu-icon:hover{background-color: #000;}
  .sf-menu{position: absolute;display: none;top: 55px;right: 0;width: 170px;background: #fff;padding: 10px 0;border-radius:3px; }
	.sf-menu>li>a{font-size: 14px;line-height: 19px;padding: 4px 14px;}
  .sf-menu>li{float: none;margin: 0 2px 1px;}
  #menu-icon.active{background:url("../images/menu-icon-active.png") center 11px no-repeat #ff4800;}
  #menu-icon.active:hover{background-color: #000;}
  
}

@media only screen and (max-width: 479px) {
	
}